﻿
@{
    ViewBag.Title = "Index";
}
<center><h1>User Roles</h1></center>
<br />
<a class="btn btn-success" style="float:right">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>User Name</td>
            <td>******</td>
            <td>
                <a class="btn btn-primary">Manage Roles</a>
            </td>
        </tr>
    </tbody>
</table>