﻿
@{
    ViewBag.Title = "Index";
}
<center><h1>Task's Users</h1></center>
<br />
<a class="btn btn-success" style="float:right">Add Task</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>User's Name</th>
            <th>Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>First Name</td>
            <td>Task</td>
            <td>
                <a class="btn btn-primary">Edit Roles</a>
            </td>
        </tr>
    </tbody>
</table>